<tmpl id="main" minify>
	<div class="settings">
		<form class="settings_form">
			<div>
				<label for="settings_sync">`Sync Progress`</label>
				<select id="settings_sync">
					<option value="">`Disabled`</option>
					<option value="all">`Enabled`</option>
				</select>
				<div class="settings_description">`Allow authors to sync their reading progress to all readers.`</div>
			</div>
			<input type="submit" class="submit" value="`Save Settings`">
		</form>
	</div>
</tmpl>
