{
	"title":          "THE SITE'S DEFAULT TITLE",
	"version":        "LEAVE EMPTY IF YOU ARE NOT SURE",
	"dbHost":         "localhost",
	"dbPort":         27017,
	"dbName":         "THIS IS DATABASE NAME",
	"dbUser":         "THIS IS DATABASE USERNAME",
	"dbPassword":     "THIS IS DATABASE PASSWORD",
	"dbPrefix":       "lp.",
	"secret":         "THIS IS A LONG AND SECRET BASE64 STRING"
}
