<tmpl id="index">
	<div class="site">
		<h1 class="site_title"><a href="#">`The Site's Title`</a></h1>
		<div class="site_subtitle">`The Site's Subtitle`</div>
		<div class="site_content">{{{content}}}</div>
		<div class="site_copyright">`Copyright 2014 LastLeaf`</div>
	</div>
</tmpl>