/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

.any_html .driver_warning {
	color: #888;
}
.any_html .driver_abstract, .any_html .driver_content {
	padding-right: 10px;
	margin: 10px 0;
}
.any_html .driver_abstract textarea, .any_html .driver_content textarea {
	width: 100%;
	padding: 4px;
	margin: 0;
	border: 1px solid #888;
	box-shadow: 0 0 3px #888;
	background: #fff;
	border-radius: 0;
}
.any_html .driver_abstract textarea {
	height: 5em;
}
.any_html .driver_content textarea {
	height: 25em;
}