<json id="translation">{
	"Add": "`Add`",
	"Details": "`Details`",
	"Save": "`Save`",
	"Cancel": "`Cancel`",
	"Remove": "`Remove`",
	"No, thanks.": "`No, thanks.`",
	"Yes, remove!": "`Yes, remove!`"
}</json>
