body {
	margin: 0;
}
h1 {
	background: #444;
	color: #fff;
	margin: 0;
	padding: 0.5em 1em;
	font-size: 1.5em;
}
p {
	color: #444;
}
.installGuide {
	margin: 1.5em;
}
.installGuide input {
	margin: 0.5em 0;
	font-size: 1em;
}
.installGuide label {
	display: inline-block;
	width: 12em;
}
.installGuide .submit {
	color: #fff;
	background: #444;
	border: 1px solid #444;
	border-radius: 100em;
	padding: 0.25em 1em;
	font-size: 1.1em;
}
.installGuide .submit:hover {
	background: #666;
}
.installGuide .submit:disabled {
	background: #bbb;
}
.installGuide .error {
	margin: 1em 0;
	color: red;
}
