<tmpl id="done"><!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>`Success`</title>
		</head>
		<body>
			<p>`The account is successfully disabled.`</p>
			<p>`You can <a href="/">visit home page of this website</a>.`</p>
		</body>
	</html>
</tmpl>
