<tmpl id="presentation"><!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="/~/lib/reveal.js/css/reveal.min.css">
			<link rel="stylesheet" href="/~/lib/reveal_theme.css" id="theme">
			<link rel="stylesheet" href="/~/theme/drivers/presentation.css" id="theme">
			<script src="/~/lib/reveal.js/lib/js/head.min.js"></script>
			<script src="/~/lib/reveal.js/js/reveal.js"></script>
		</head>
		<body>
{{{this}}}
<script>
(function(){
	if(typeof(Reveal) === 'undefined') {
		setTimeout(arguments.callee, 200);
		return;
	}
	Reveal.initialize({
		controls: true,
		progress: true,
		slideNumber: true,
		history: false,
		center: true,
		transition: 'default',
		dependencies: [
			{ src: '/~/lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
			{ src: '/~/lib/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } }
		]
	});
	var btn = document.createElement('div');
	btn.className = 'full-screen-button';
	btn.style.position = 'absolute';
	btn.style.right = '57px';
	btn.style.bottom = '57px';
	btn.style.width = '16px';
	btn.style.height = '16px';
	document.body.appendChild(btn);
	document.body.ondblclick = btn.onclick = function(e){
		if(e.target.parentElement.className === 'controls') return;
		document.toggleFullScreen();
	};
})();
</script>
		</body>
	</html>
</tmpl>