<tmpl id="main">
	<div class="edit">
		<form action="post" method="modify" class="editor">
			<div class="editor_header">
				<input type="button" class="editor_save" value="`Save`">
				<div class="editor_title">
					<input type="text" name="title" placeholder="`Title`">
				</div>
			</div>
			<div class="sidebar">
				<div class="sidebar_item">
					<div class="sidebar_title">`Basic Configuration`</div>
					<input type="text" name="path" placeholder="A shortcut URL...">
					<div class="sidebar_row">
						`Publish Status` <select name="status">
							<option value="draft">`draft`</option>
							<option value="pending">`pending`</option>
							{{#if write}}<option value="published">`published`</option>{{/if}}
						</select>
					</div>
					<div class="sidebar_row">
						{{#if edit}}`Author` <select name="author">{{#each authors}}
							<option value="{{_id}}">{{displayName}}</option>
						{{/each}}</select>{{/if}}
					</div>
				</div>
				{{#if write}}<div class="sidebar_item">
					<div class="sidebar_title">`Series`</div>
					<select name="series"></select>
					<input type="button" class="button" value="`Create New Series`">
				</div>{{/if}}
				<div class="sidebar_item">
					<div class="sidebar_title">`Categories`</div>
					<div class="sidebar_category_list">{{#each categories}}
						<div>
							<input type="checkbox" name="category[]" value="{{_id}}" id="sidebar_category_{{_id}}" class="checkbox">
							<label for="sidebar_category_{{_id}}">{{title}}</label>
						</div>
					{{/each}}</div>
				</div>
				<div class="sidebar_item">
					<div class="sidebar_title">`Tags`</div>
					<textarea name="tag" rows="5" placeholder="`(one per line)`"></textarea>
				</div>
			</div>
			<div class="editor_main">
				<div class="driver"></div>
			</div>
		</form>
	</div>
</tmpl>