/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

body {
    font-size: 16px;
    margin: 0;
    background: #ddd;
}
a {
    text-decoration: none;
    outline: none;
    color: #00d2ff;
}
a:hover {
    text-decoration: underline;
}
.error {
    color: red;
    font-size: 0.9em;
}

input, select, textarea {
    display: inline;
    font-size: 1em;
    border: 1px solid #bbb;
    background: #fff;
    padding: 2px;
    box-shadow: 0 0 2px #bbb;
    vertical-align: middle;
}
select, .submit, .button {
    width: auto;
}
.submit, .button {
    display: block;
    padding: 0.25em 1em;
    border-radius: 10em;
}
.submit {
    border: 1px solid #666;
    background: #666;
    box-shadow: 0 0 2px #666;
    color: #fff;
}
.submit:hover {
    background: #888;
}
.submit:disabled {
    background: #bbb;
    box-shadow: 0 0 2px #bbb;
}
.button {
    border: 1px solid #888;
    background: #ddd;
    box-shadow: 0 0 2px #888;
    color: #444;
}
.button:hover {
    background: #eee;
}
.button:disabled {
    background: #bbb;
    box-shadow: 0 0 2px #bbb;
}

#backstage {
    position: absolute;
    width: 100%;
}
#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    background: #444;
    line-height: 32px;
    height: 32px;
    padding: 2px 20px;
    box-shadow: 0 0 5px #444;
}
#header img {
    vertical-align: middle;
}
.header_left {
    float: left;
    color: #00d2ff;
    font-weight: bold;
    background: url('img/logo_32.png') no-repeat;
    padding-left: 40px;
}
.header_right {
    float: right;
    font-size: 14px;
    color: #bbb;
}

#tabbar {
    position: fixed;
    top: 36px;
    left: 0;
    bottom: 0;
    width: 150px;
    padding-right: 10px;
    overflow-y: auto;
}
.tabs {
    padding-left: 10px;
    min-height: 100%;
    background: #444;
    font-weight: bold;
    box-shadow: 0 0 5px #444;
}
.tabs a:hover {
    text-decoration: none;
}
.tab_sep {
    height: 1em;
}
.tab {
    padding: 0.5em 10px 0.5em 15px;
    margin-top: 0.5em;
    color: #00d2ff;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
}
.tab:hover, .tab:active {
    background: #666;
}
.tab_current {
    color: #444;
    text-shadow: 0 0 0.5px #444;
    background: #ddd;
    margin-right: -6px;
    padding-right: 16px;
    box-shadow: 0 0 4px #ddd;
}
.tab_current:hover, .tab_current:active {
    background: #ddd;
}

#content_wrapper {
    position: absolute;
    top: 36px;
    bottom: 0;
    right: 0;
    left: 150px;
    padding: 20px;
    overflow: auto;
}
#content a {
    color: #00a7cc;
}
#backstage_busy {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 256px;
    height: 256px;
    background: url('img/logo.gif') no-repeat;
}

#errors {
    position: absolute;
    top: 36px;
    left: 150px;
    right: 0;
}
#errors div {
    background: #FC9292;
    border-bottom: 2px solid red;
    color: #444;
    text-align: center;
    padding: 7px 20px 5px;
    cursor: pointer;
}

/* table */
.lp_table {
    width: 100%;
    font-size: 0.9em;
}
.lp_table th, .lp_table td {
    text-align: left;
    min-width: 10%;
    padding: 5px;
}
.lp_table thead tr, .lp_table tfoot tr {
    background: #444;
    box-shadow: 0 0 5px #444;
}
.lp_table thead th, .lp_table tfoot th {
    color: #ddd;
}
.lp_table_row td {
    padding-top: 7px;
    padding-bottom: 1px;
}
.lp_table_extra td {
    padding-top: 1px;
    padding-bottom: 7px;
    color: #666;
}
.lp_table tbody tr:nth-child(4n+1), .lp_table tbody tr:nth-child(4n+2) {
    background: #eee;
}
.lp_table tbody tr:nth-child(odd):hover td, .lp_table tbody tr:nth-child(odd):hover + tr td {
    color: #007387;
    text-shadow: 0 0 1px #00d2ff;
}
.lp_table_navi input {
    background: #bbb;
    color: #000;
    font-weight: bold;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0 5px #bbb;
    vertical-align: baseline;
    font-size: 1em;
    padding: 0.1em 0.5em;
}
.lp_table_navi input:hover, .lp_table_navi input:active {
    background: #00d2ff;
    box-shadow: 0 0 5px #00d2ff;
}
.lp_table_navi .lp_table_page_num {
    background: transparent;
    color: #ddd;
    text-align: right;
    border: 1px solid #666;
    box-shadow: none;
    padding: 0.1em;
}
.lp_table_navi .lp_table_page_num:hover, .lp_table_navi .lp_table_page_num:active {
    background: transparent;
    border: 1px solid #00d2ff;
}
.lp_table_action {
    float: left;
}
.lp_table_page {
    float: right;
}
.lp_table tbody input, .lp_table tbody select, .lp_table tbody textarea {
    font-size: 1em;
    line-height: auto;
    border: 1px solid #888;
    border-radius: 0;
    box-shadow: 0 0 2px #888;
    padding: 2px;
    margin: 0 -3px;
    width: 100%;
    background: transparent;
}
.lp_table .lp_table_edit_btn input {
    background: #444;
    color: #ddd;
    font-weight: bold;
    border: 0 none;
    border-radius: 2px;
    margin: 4px 5px 0 0;
    padding: 0.25em 0.5em;
    box-shadow: 0 0 5px #444;
    font-size: 1em;
    width: auto;
}
.lp_table .lp_table_edit_btn input:hover, .lp_table .lp_table_edit_btn input:active {
    background: #007387;
    box-shadow: 0 0 5px #007387;
}
.lp_table_edit_btn_right {
    float: right;
}