<tmpl id="main">
	<div class="stat_options">
		`Post Visits in`
		<select class="stat_time">
			<option value="3600">`1 hour`</option>
			<option value="86400">`24 hours`</option>
			<option value="259200" selected>`3 days`</option>
			<option value="604800" selected>`7 days`</option>
			<option value="2592000">`30 days`</option>
			<option value="7776000">`90 days`</option>
			<option value="31536000">`365 days`</option>
			<option value="0">`All History`</option>
		</select>
	</div>
	<div class="stat_title"></div>
	<div class="stat_meta"></div>
	<div class="table"></div>
</tmpl>

<tmpl id="statMeta">
	`{{visits}} Visits from {{visitors}} Visitors`
</tmpl>