<tmpl id="main" minify>
	<div class="stat_options">
		<select class="stat_page">
			<option value="hot">`Hotest Posts`</option>
			<option value="url">`Hotest Paths`</option>
			<option value="referer">`Hotest Referers`</option>
		</select>
		&nbsp;
		<select class="stat_time">
			<option value="3600">`1 hour`</option>
			<option value="86400">`24 hours`</option>
			<option value="259200">`3 days`</option>
			<option value="604800" selected>`7 days`</option>
			<option value="2592000">`30 days`</option>
			<option value="7776000">`90 days`</option>
			<option value="31536000">`365 days`</option>
			<option value="0">`All History`</option>
		</select>
	</div>
	<div class="table"></div>
</tmpl>
