<tmpl id="markdown">
	<div class="markdown">
		{{#if admin}}
			<div class="driver_use_html">
				<input type="checkbox" id="driver_use_html_checkbox" {{#if driver.enableHtml}}checked{{/if}}> <label for="driver_use_html_checkbox">`Allow HTML Tags (<b>DANGEROUS</b>: Do not check unless you know why it is dangerous.)`</label>
			</div>
		{{/if}}
		<div class="driver_abstract">
			<textarea placeholder="`Abstract`">{{driver.abstract}}</textarea>
		</div>
		<div class="driver_content">
			<textarea placeholder="`Content`">{{driver.content}}</textarea>
		</div>
	</div>
</tmpl>