<tmpl id="main" minify>
	<div class="location">
		<select class="user">{{#each authors}}
			<option value="{{_id}}">{{displayName}}</option>
		{{/each}}</select>
		<span class="path"></span>
		<input type="button" class="path_parent button" value="`Parent Folder`">
	</div>
	<div class="create">
		<form action="file" method="createDir" class="create_dir">
			<input type="hidden" name="user"><input type="hidden" name="path">
			`Create Folder` <input type="text" name="name"> <input type="submit" class="button" value="`New Folder`">
		</form>
	</div>
	<div class="create">
		`Upload Files` <iframe src="/backstage/file/upload" class="upload_iframe"></iframe> <input type="button" class="upload_submit button" value="`Upload`">
	</div>
	<div class="table"></div>
</tmpl>
