/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

.article .driver_abstract {
	margin: 10px 12px 10px 0;
}
.article .driver_abstract_manual {
	display: block;
	border: 1px solid #888;
	padding: 5px;
	width: 100%;
	display: none;
	margin-top: 10px;
}
.article .driver_abstract_enable {
    border: 1px solid #888;
    font-size: 1em;
    padding: 2px;
}