<tmpl id="main" minify>
	<div class="create_title">`Write a new...`</div>
	<div class="create_list">
		{{#each this}}
			<input type="button" class="button" driverId="{{id}}" value="{{name}}">
		{{/each}}
	</div>
</tmpl>
