<tmpl id="main" minify>
	<div class="settings">
		<form class="settings_form">
			<div>
				<div class="settings_description">`If posts have been updated while this plugin is disabled, you need rebuild index by pressing the button below.`</div>
			</div>
			<input type="submit" class="submit" value="`Rebuild Index`">
		</form>
	</div>
</tmpl>

<tmpl id="rebuildSent" minify>
	`Rebuild request has been sent.`
</tmpl>
