<tmpl id="main">
	<div id="wrapper" class="wrapper">
		<h1 class="title"><a fw href="/">{{title}}</a></h1>
		<h2 class="subtitle"><a fw href="/">{{subtitle}}</a></h2>
		<div id="content" class="content">{{{content}}}</div>
		<div class="copyright">{{copyright}}</div>
	</div>
</tmpl>