<tmpl id="list">
	{{#if query}}<div class="query query-{{type}}">{{query}}</div>{{/if}}
	<div id="post_list" class="post_list">{{#each rows}}
		<div class="post_item">
			<h3 class="post_title"><a fw href="/{{#if path}}{{path}}{{else}}post/{{_id}}{{/if}}">{{title}}</a></h3>
			<div class="post_author"><a fw href="/author/{{author._id}}">{{author.displayName}}</a></div>
			<ul class="post_categories">{{#each category}}
				<li><a fw href="/category/{{this}}">{{this}}</a></li>
			{{/each}}</ul>
			<ul class="post_tags">{{#each tag}}
				<li><a fw href="/tag/{{this}}">{{this}}</a></li>
			{{/each}}</ul>
			<div class="post_content">{{{abstract}}}</div>
		</div>
	{{/each}}</div>
	<div class="page">
		{{#if pagePrev}}<div class="page_prev"><a fw href="/{{type}}{{#if query}}/{{query}}{{/if}}/{{pagePrev}}">&lt;</a></div>{{/if}}
		{{#if pageNext}}<div class="page_next"><a fw href="/{{type}}{{#if query}}/{{query}}{{/if}}/{{pageNext}}">&gt;</a></div>{{/if}}
	</div>
</tmpl>

<tmpl id="single">
	<div id="post_single" class="post_single">
		<h3 class="post_title"><a fw href="/{{#if path}}{{path}}{{else}}post/{{_id}}{{/if}}">{{title}}</a></h3>
		<div class="post_author"><a fw href="/author/{{author._id}}">{{author.displayName}}</a></div>
		<ul class="post_categories">{{#each category}}
			<li><a fw href="/category/{{this}}">{{this}}</a></li>
		{{/each}}</ul>
		<ul class="post_tags">{{#each tag}}
			<li><a fw href="/tag/{{this}}">{{this}}</a></li>
		{{/each}}</ul>
		<div class="post_content">{{{content}}}</div>
	</div>
</tmpl>

<tmpl id="notFound">
	{{#if query}}<div class="query query-{{type}}">{{query}}</div>{{/if}}
	<div id="post_not_found" class="post_not_found"></div>
</tmpl>