<tmpl id="presentation">
	<div class="presentation">
		{{#if admin}}
			<div class="driver_use_html">
				<input type="checkbox" id="driver_use_html_checkbox" {{#if driver.enableHtml}}checked{{/if}}> <label for="driver_use_html_checkbox">`Allow HTML Tags (<b>DANGEROUS</b> Do not check unless you know why it is dangerous.)`</label>
			</div>
		{{/if}}
		<div class="driver_abstract">
			<textarea placeholder="`Introduction (Markdown)`">{{driver.abstract}}</textarea>
		</div>
		<div class="driver_content">
			<div class="driver_slide_control">
				<div class="driver_slide_add driver_slide_add-left">+</div>
				<div class="driver_slide_add driver_slide_add-right">+</div>
				<div class="driver_slide_add driver_slide_add-top">+</div>
				<div class="driver_slide_add driver_slide_add-bottom">+</div>
				<div class="driver_slide_del">`Delete`</div>
			</div>
			<div class="driver_slide_table"></div>
			<div class="driver_slide"></div>
		</div>
	</div>
</tmpl>

<tmpl id="presentationContent">
	<textarea class="driver_slide_content" placeholder="`Slide Content (Markdown)`">{{this}}</textarea>
</tmpl>