/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

.presentation .driver_use_html {
	color: #444;
}
.presentation .driver_abstract, .presentation .driver_content {
	padding-right: 10px;
	margin: 10px 0;
}
.presentation .driver_abstract textarea, .presentation .driver_content textarea {
	width: 100%;
	padding: 4px;
	margin: 0;
	border: 1px solid #888;
	box-shadow: 0 0 3px #888;
	background: #fff;
	border-radius: 0;
}
.presentation .driver_abstract textarea {
	height: 5em;
}
.presentation .driver_content textarea {
	height: 20em;
}

.presentation .driver_slide_control {
	width: 100px;
	height: 100px;
	float: right;
	position: relative;
}
.presentation .driver_slide_add, .presentation .driver_slide_del {
	position: absolute;
	background: #888;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.presentation .driver_slide_add:hover, .presentation .driver_slide_del:hover {
	background: #444;
}
.presentation .driver_slide_add-left {
	left: 0;
	width: 20px;
	line-height: 80px;
	top: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.presentation .driver_slide_add-right {
	right: 0;
	width: 20px;
	line-height: 80px;
	top: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.presentation .driver_slide_add-top {
	top: 0;
	height: 20px;
	line-height: 20px;
	left: 25px;
	right: 25px;
}
.presentation .driver_slide_add-bottom {
	bottom: 20px;
	height: 20px;
	line-height: 20px;
	left: 25px;
	right: 25px;
}
.presentation .driver_slide_del {
	left: 25px;
	right: 25px;
	font-size: 12px;
	top: 25px;
	bottom: 45px;
	line-height: 30px;
	border: 1px solid #888;
	background: #bbb;
}
.presentation .driver_slide_table {
	margin-right: 120px;
	white-space: nowrap;
	overflow: auto;
	max-height: 360px;
}
.presentation .driver_slide_col {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.presentation .driver_slide_row {
	margin-bottom: 10px;
	width: 23px;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #888;
	box-shadow: 0 0 2px #888;
	color: #666;
	cursor: pointer;
}
.presentation .driver_slide_row:hover {
	border-color: #666;
}
.presentation .driver_slide_row-selected {
	background: #666;
	border: 1px solid #666;
	box-shadow: 0 0 5px #666;
	color: #fff;
}