<tmpl id="presentation">
	<div class="presentation">
		<div class="driver_abstract">
			<textarea placeholder="`Introduction (Markdown)`">{{driver.abstract}}</textarea>
		</div>
		<div class="driver_content">
			<textarea name="content" placeholder="`Content (Markdown)`">{{content}}</textarea>
		</div>
	</div>
</tmpl>