/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

.addons_opt {
	float: right;
	font-size: 1.1em;
}
.addons_tabs {
	font-size: 1.4em;
}
.addons_tabs_settings {
	font-size: 1.4em;
	margin-bottom: 1em;
}
#content a.addons_tab {
	display: inline-block;
	color: #666;
	margin: 0 0.25em 0.25em 0;
	padding: 0.1em 0.5em;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	text-decoration: none;
}
#content a.addons_tab:hover {
	border-bottom-color: #666;
}
#content a.addons_tab_current {
	color: #444;
	border-bottom-color: #444;
}
.addons_tabs_title {
	color: #888;
}
.addons_blocked {
	background: #FC9292;
	color: #444;
	border: 1px solid red;
	padding: 4px;
	margin: 0.5em 0;
}

.addons_item {
	margin: 0.5em 0;
}
.addons_status {
	float: right;
	background: #bbb;
	color: #888;
	padding: 6px 6px 4px;
}
.addons_content {
	border: 2px solid #bbb;
	padding: 4px;
}
.addons_status-disable, .addons_status-disabled {
	cursor: pointer;
	color: #444;
}
.addons_status-disable:hover, .addons_status-disabled:hover {
	background: #999;
	color: #222;
}
.addons_status-disable:hover + .addons_content, .addons_status-disabled:hover + .addons_content {
	border-color: #999;
}
.addons_status-enable, .addons_status-enabled {
	cursor: pointer;
	background: #666;
	color: #fff;
}
.addons_status-enable + .addons_content, .addons_status-enabled + .addons_content {
	border-color: #666;
}
.addons_status-enable:hover, .addons_status-enabled:hover {
	background: #444;
}
.addons_status-enable:hover + .addons_content, .addons_status-enabled:hover + .addons_content {
	border-color: #444;
}
#content a.addons_title {
	color: #222;
	margin-right: 1em;
}
.addons_version, .addons_author, .addons_description {
	font-size: 0.9em;
	color: #666;
}
.addons_version {
	margin-right: 0.5em;
}
.addons_settings {
	float: right;
	margin-right: 8px;
	background: #666;
	color: #fff;
	padding: 4px 6px;
	margin-top: -4px;
	cursor: pointer;
	display: none;
}
.addons_settings:hover {
	background: #444;
}
.addons_status-enabled + .addons_content .addons_settings {
	display: block;
}
