<tmpl id="main" minify>
	<div class="home_user">
		<img class="avatar" src="{{avatar}}">
		<form action="user" method="modify" class="user_info">
			<div class="display_name info">{{displayName}}</div>
			<input type="text" class="display_name" name="displayName" value="{{displayName}}" required>
			<div class="username">{{username}}</div>
			<div class="email"><a href="mailto:{{email}}">{{email}}</a></div>
			{{#if url}}
				<div class="url info">{{url}}</div>
				<input type="text" class="url" name="url" value="{{url}}" placeholder="`URL`">
			{{else}}
				<div class="url info">`(URL not set)`</div>
				<input type="text" class="url" name="url" placeholder="`URL`">
			{{/if}}
			{{#if description}}
				<div class="description info">{{description}}</div>
				<textarea id="description" class="description" name="description" placeholder="`Short description...`">{{description}}</textarea>
			{{else}}
				<div class="description info">`(description not set)`</div>
				<textarea id="description" class="description" name="description" placeholder="`Short description...`"></textarea>
			{{/if}}
			<input type="submit" class="submit" value="`Update`">
		</form>
		<a href="#" class="modify_password"><div>`Modify Password`</div></a>
		<form action="user" method="modifyPassword" class="user_password">
			<input type="hidden" name="original">
			<input type="hidden" name="password">
			<input type="password" class="original" required placeholder="`Original Password`">
			<input type="password" class="new" required placeholder="`New Password`">
			<input type="password" class="newRe" required placeholder="`Retype...`">
			<input type="submit" class="submit" value="`Modify Password`">
		</form>
	</div>
	<div class="home_main">
		<div class="home_head">
			`There are {{posts.total}} published posts, and {{comments.total}} comments on this blog.`
			<input type="button" class="button new_post" value="`Write New Post`">
		</div>
		{{#if unsavedPosts}}<div class="home_list">
			<div class="home_list_title">`Unsaved Posts`</div>
			{{#each unsavedPosts}}
				<div class="home_list_item"><a fw href="/backstage/post/{{id}}">{{title}}</a> `edited on` {{dateString}}</div>
			{{/each}}
		</div>{{/if}}
		<div class="home_list">
			<div class="home_list_title">`Recent Posts`</div>
			{{#each posts.rows}}
				<div class="home_list_item"><a fw href="{{#if path}}/{{path}}{{else}}/post/{{_id}}{{/if}}">{{title}}</a> `by` <a fw href="/author/{{author._id}}">{{author.displayName}}</a> `on` {{dateString}}</div>
			{{/each}}
		</div>
		<div class="home_list">
			<div class="home_list_title">`Recent Comments`</div>
			{{#each comments.rows}}
				<div class="home_list_item"><a fw href="{{url}}">{{displayName}}</a> `at` {{dateTimeString}} `on` <a fw href="{{#if post.path}}/{{post.path}}{{else}}/post/{{post._id}}{{/if}}">{{post.title}}</a></div>
			{{/each}}
		</div>
	</div>
</tmpl>

<tmpl id="login">
	<div class="home_login">
		<div class="sections">
			<div class="section">
				<div class="section_title"><a href="#">`Login`</a></div>
				<form action="user" method="login">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="_id" required>
					</div>
					<div class="form_row">
						<label>`Password`</label>
						<input type="hidden" name="password">
						<input type="password" class="password" required>
					</div>
					<div class="form_row">
						<input type="submit" class="submit" value="`Login`">
					</div>
				</form>
			</div>
			<div class="section section_folded">
				<div class="section_title"><a href="#">`Register`</a></div>
				<form action="user" method="register">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="_id" required>
					</div>
					<div class="form_row">
						<label>`Password`</label>
						<input type="hidden" name="password">
						<input type="password" class="password" required>
					</div>
					<div class="form_row">
						<label>`Password (Re-type)`</label>
						<input type="password" class="passwordRe">
					</div>
					<div class="form_row">
						<label>`Email`</label>
						<input type="email" name="email" required>
					</div>
					<div class="form_row">
						<input type="submit" class="submit" value="`register`">
					</div>
				</form>
			</div>
			<div class="section section_folded">
				<div class="section_title section_title_small"><a href="#">`Forgot password?`</a></div>
				<form action="user" method="recoverPassword">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="_id" required>
					</div>
					<div class="form_row">
						<label>`Email`</label>
						<input type="email" name="email" required>
					</div>
					<div class="form_row">
						<input type="submit" class="submit" value="`Recover Password`">
					</div>
				</form>
			</div>
		</div>
	</div>
</tmpl>
