<tmpl id="main" minify>
	<div id="backstage">
		<div id="header">
			<div class="header_left">
				<a fw href="/">{{siteTitle}}</a>
				<span class="header_lpinfo"><a href="https://lightpalette.lastleaf.me">LightPalette</a> {{lpVersion}} {{lpLang}}</span>
			</div>
			<div class="header_right" id="header_list"></div>
		</div>
		<div id="tabbar">
			<div class="tabs">
				<div class="tab_sep"></div>
				<a fw href="/backstage/home"><div class="tab tab_home">`Dashboard`</div></a>
				<div class="tab_sep"></div>
			</div>
		</div>
		<div id="content_wrapper">
			<div id="content"></div>
		</div>
		<div id="errors"></div>
	</div>
</tmpl>

<tmpl id="userTabs" minify>
	<div class="tabs">
		<div class="tab_sep"></div>
		<a fw href="/backstage/home"><div class="tab tab_home">`Dashboard`</div></a>
		{{#if admin}}
			<a fw href="/backstage/stat"><div class="tab tab_stat">`Statistics`</div></a>
		{{/if}}
		{{#if contrib}}
			<div class="tab_sep"></div>
			<a fw href="/backstage/post"><div class="tab tab_post">`Writing`</div></a>
			<a fw href="/backstage/posts"><div class="tab tab_posts">`Posts`</div></a>
		{{/if}}
		{{#if write}}
			<a fw href="/backstage/files"><div class="tab tab_files">`Files`</div></a>
			<a fw href="/backstage/series"><div class="tab tab_series">`Series`</div></a>
		{{/if}}
		{{#if edit}}
			<a fw href="/backstage/categories"><div class="tab tab_categories">`Categories`</div></a>
			<div class="tab_sep"></div>
			<a fw href="/backstage/comments"><div class="tab tab_comments">`Comments`</div></a>
		{{/if}}
		{{#if admin}}
			<a fw href="/backstage/users"><div class="tab tab_users">`Users`</div></a>
			<a fw href="/backstage/addons"><div class="tab tab_addons">`Addons`</div></a>
			<a fw href="/backstage/settings"><div class="tab tab_settings">`Settings`</div></a>
		{{/if}}
		<div class="tab_sep"></div>
	</div>
</tmpl>

<tmpl id="userInfo" minify>
	<div class="header_list" tabindex="-1">
		<div class="header_list_title nav_current">`Pages`</div>
		<div class="header_list_items">
			<div class="header_item_sep"></div>
			<div class="header_item" href="/backstage/home">`Dashboard`</div>
			{{#if admin}}
				<div class="header_item" href="/backstage/stat">`Statistics`</div>
			{{/if}}
			{{#if contrib}}
				<div class="header_item_sep"></div>
				<div class="header_item" href="/backstage/post">`Writing`</div>
				<div class="header_item" href="/backstage/posts">`Posts`</div>
			{{/if}}
			{{#if write}}
				<div class="header_item" href="/backstage/files">`Files`</div>
				<div class="header_item" href="/backstage/series">`Series`</div>
			{{/if}}
			{{#if edit}}
				<div class="header_item" href="/backstage/categories">`Categories`</div>
				<div class="header_item_sep"></div>
				<div class="header_item" href="/backstage/comments">`Comments`</div>
			{{/if}}
			{{#if admin}}
				<div class="header_item" href="/backstage/users">`Users`</div>
				<div class="header_item" href="/backstage/addons">`Addons`</div>
				<div class="header_item" href="/backstage/settings">`Settings`</div>
			{{/if}}
		</div>
	</div>
	<div class="header_list" tabindex="-1">
		<div class="header_list_title">{{displayName}}</div>
		<div class="header_list_items">
			<div class="header_item" href="/backstage/home">`Account`</div>
			<div class="header_item logout">`Logout`</div>
		</div>
	</div>
</tmpl>

<tmpl id="busy" minify>
	<div id="backstage_busy"></div>
</tmpl>

<json id="error">{
	"timeout": "`Timed out. Please check your network.`",
	"system": "`Sorry, an internal server error occurred.`",
	"noPermission": "`You are not authorized.`",
	"notFound": "`Sorry, no related resource was found.`",
	"registerNotAllow": "`Sorry, registration is not allowed currently.`",
	"loggedIn": "`You have already logged in.`",
	"idIllegal": "`The name is not legal. It should only contain visible characters.`",
	"idUsed": "`The name exists. Please choose another one.`",
	"pathUsed": "`This path is preserved or used by another published or visible post.`",
	"idNull": "`The name does not exist.`",
	"idDisabled": "`This account is disabled.`",
	"pwdNull": "`The password is required.`",
	"usernameIllegal": "`The username should contain 4 to 32 letters, numbers, underlines, and hyphens.`",
	"emailIllegal": "`The email address is illegal.`",
	"displayNameIllegal": "`The display name is illegal.`",
	"urlIllegal": "`The url address is illegal.`",
	"descriptionIllegal": "`The description is too long.`",
	"contentIllegal": "`The content is too long.`",
	"abstractIllegal": "`The abstract is too long.`",
	"timeFormatIllegal": "`The date time format is not acceptable.`",
	"pwd": "`The password is wrong.`",
	"emailNotMatch": "`The username and email address are not match.`",
	"pwdEmail": "`Your new password has been sent. Please check your mailbox.`",
	"mail": "`Failed sending mail.`",
	"noSuitableDriver": "`No suitable drivers. If you are admin, please check the addons settings.`"
}</json>
