<tmpl id="main" minify>
	<div class="settings settings_main">

		<div class="settings_section" section="basic">
			<div class="settings_title">`Basic`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="basic">
				<div>
					<label>`Site Domain`</label>
					<input type="text" name="siteHost" required>
				</div>
				<div>
					<label>`Site Title`</label>
					<input type="text" name="siteTitle" required>
				</div>
				<div>
					<label>`Site Subtitle`</label>
					<input type="text" name="siteSubtitle">
				</div>
				<div>
					<label>`Site Description`</label>
					<textarea type="text" name="siteDescription"></textarea>
				</div>
				<div>
					<label>`Site Copyright`</label>
					<input type="text" name="siteCopyright">
				</div>
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

		<div class="settings_section" section="display">
			<div class="settings_title">`Display`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="display">
				<div>
					<label>`Post List Length`</label>
					<input type="number" name="postListLength" placeholder="5" min="1" max="20">
				</div>
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

		<div class="settings_section" section="date">
			<div class="settings_title">`Date`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="date">
				<div>
					<label>`Timezone`</label>
					<select name="timezone">
						<option value="">`Loading...`</option>
					</select>
				</div>
				<div>
					<label>`Date Format`</label>
					<input type="text" name="dateFormat" placeholder="%F">
				</div>
				<div>
					<label>`Date Time Format`</label>
					<input type="text" name="dateTimeFormat" placeholder="%F %T">
				</div>
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

		<div class="settings_section" section="user">
			<div class="settings_title">`User`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="user">
				<div>
					<label>`Allow Registration`</label>
					<select name="allowReg">
						<option value="">`Never`</option>
						<option value="yes">`Always`</option>
					</select>
				</div>
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

		<div class="settings_section" section="email">
			<div class="settings_title">`Email`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="email">
				<div>
					<label>`Sender Name`</label>
					<input type="text" name="name" required>
				</div>
				<div>
					<label>`Sender Address`</label>
					<input type="text" name="addr" required>
				</div>
				<div>
					<label>`SMTP Host`</label>
					<input type="text" name="host" required>
				</div>
				<div>
					<label>`SMTP Port`</label>
					<input type="text" name="port" placeholder="`Default Port`">
				</div>
				<div>
					<label>`Encryption`</label>
					<select name="ssl">
						<option value="" selected>`None / STARTTLS`</option>
						<option value="ssl">`SSL`</option>
					</select>
				</div>
				<div>
					<label>`SMTP User`</label>
					<input type="text" name="user" required>
				</div>
				<div>
					<label>`SMTP Password`</label>
					<input type="password" name="password" required>
				</div>
				<input type="button" class="email_test button" value="`Send a test email to me...`">
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

		<div class="settings_section" section="stat">
			<div class="settings_title">`Statistics`</div>
			<form action="settings" method="set" class="settings_form">
				<input type="hidden" name="_key" value="stat">
				<div>
					<label>`Visits Logger`</label>
					<select name="enabled">
						<option value="">`Disabled`</option>
						<option value="yes">`Enabled`</option>
					</select>
				</div>
				<div>
					<label>`Clear History`</label>
					<select class="clear_stat_time">
						<option value="">`No`</option>
						<option value="3600">`1 hour ago`</option>
						<option value="86400">`24 hours ago`</option>
						<option value="259200">`3 days ago`</option>
						<option value="604800">`7 days ago`</option>
						<option value="2592000">`30 days ago`</option>
						<option value="7776000">`90 days ago`</option>
						<option value="31536000">`365 days ago`</option>
						<option value="0">`all`</option>
					</select>
				</div>
				<input type="button" class="clear_stat button" value="`Clear History Now`">
				<input type="submit" class="submit" value="`Save Settings`">
			</form>
		</div>

	</div>
	<ul class="settings_navi">
		<li for="basic">`Basic`</li>
		<li for="display">`Display`</li>
		<li for="date">`Date`</li>
		<li for="user">`User`</li>
		<li for="email">`Email`</li>
		<li for="stat">`Statistics`</li>
	</ul>
</tmpl>

<tmpl id="timezone">
	<option value="" selected>Default (UTC)</option>
	{{#each this}}<option value="{{this}}">{{this}}</option>{{/each}}
</tmpl>

<tmpl id="sentEmail">`Email has been sent to {{to}}.`</tmpl>
