/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

.settings_navi {
    position: fixed;
    top: 56px;
    right: 30px;
    max-width: 100px;
    list-style: none;
    padding: 0 10px 0 20px;
    border-left: 1px dashed #888;
    margin-left: 20px;
    color: #666;
}
.settings_navi li {
    font-size: 1.1em;
    margin: 10px 0;
}
.settings_navi li:hover {
    text-shadow: 0 0 1px #00a7cc;
    color: #00a7cc;
    cursor: pointer;
}

.settings_main {
    padding: 20px;
    padding-right: 100px;
}
.settings {
    color: #444;
}
.settings_section {
    margin-bottom: 3em;
}
.settings_title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em;
}
.settings_form>div {
    margin: 0.75em 1em;
}
.settings_form label {
    display: inline-block;
    width: 10em;
    text-align: right;
    margin-right: 1em;
}
.settings_form input, .settings_form select, .settings_form textarea {
    width: 18em;
}
.settings_form .submit, .settings_form .button {
    margin: 1.25em 0 1.25em 12em;
    width: auto;
}
.settings_form .settings_description {
    color: #888;
    font-size: 0.9em;
    margin: 0.3em 0 0.3em 12.3em;
}

@media (max-width: 680px) {
	.settings_navi {
		display: none;
	}
	.settings_main {
		padding-right: 20px;
	}
}

@media (max-width: 600px) {
	.settings_form label {
		width: 100%;
		text-align: left;
	}
	.settings_form .submit, .settings_form .button {
		margin: 1em 0 1em 1em;
	}
	.settings_form .settings_description {
		margin: 0.1em 0 0.3em 0;
	}
	.settings_title {
		margin: 0.75em;
		margin-left: 0;
	}
}
